.CurrentTasks {
    width: 35%;
    height: 80%;
    overflow-y: auto;
    transition: 0.3s;
    border-radius: 5px;
    box-shadow: 8px 8px 12px 8px rgb(0 0 0 / 20%);
    overflow-y: hidden;
}

.CurrentTasks-add-task-wrapper {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CurrentTasks-add-task {
    width: 70%;
}

.CurrentTasks-add-task >  .MuiFormControl-root.MuiTextField-root {
    width: 100%;
}

.CurrentTasks-tasks-wrapper {
    height: 80%;
    overflow-y: auto;
    transition: height 0.5s ease;
}

.CurrentTasks-add-icon {
    cursor: pointer;
    padding-top: 1.5rem;
    padding-left: 1rem;
}

.CurrentTasks-current-task-wrapper {
    background-color: bisque; 
    padding: 1px;
    border-radius: 0.5rem;
    margin: 0.5rem;
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.CurrentTasks-current-task {
    margin-left: 5px;
    width: 75%;
}


.CurrentTasks-pagination-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.CurrentTasks-length-info {
    padding-top: 1rem;
    padding-right: 0.5rem;
}

CurrentTasks-length-info > p {
    margin: 0;
}

.CurrentTasks-delete-wrapper, .CurrentTasks-check-wrapper, .CurrentTasks-star-wrapper {
    cursor: pointer;
}

.CurrentTasks-star-wrapper:hover > svg {
    fill: gold;  
}